<li>
	{{item_name}}: {{price}}

	<button class="change-purchase" data-id="{{id}}" data-newpurchase="{{purchase}}">
		{{#if purchase}}Rent Now!{{else}}Return Now!{{/if}}
	</button>

	<button class="delete-item" data-id="{{this.id}}">Delete!</button>
</li>
